## Week 1 Tutorials

### The Python Programming Language: Functions

<br>`add_numbers` is a function that takes two numbers and adds them together.
</br>

###### Add Two Parameters

In [3]:
def add_numbers(x,y):
    return x+y

add_numbers(45,5)

50

###### Add Three Parameters

In [4]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>`add_numbers` updated to take an optional flag parameter.

In [7]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

## <br>  The Python Programming Language: Types and Sequences

##### Returning Type of Object

In [8]:
type('This is a string')

str

In [9]:
type(None)

NoneType

In [10]:
type(1)

int

In [11]:
type(0.1)

float

In [12]:
type(add_numbers)

function

<br>`Tuples` are an immutable data structure (cannot be altered).

In [13]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br> `Lists` are a mutable data structure.

In [15]:
x= [1,'a',2,'b']
type(x)

list

<br> Use `append` to append an object to a list.

In [17]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

<br>This is an example of how to loop through each item in the list.

In [19]:
for i in x:
    print(i)

1
a
2
b
3.3

<br>
Or using the indexing operator:

In [22]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i +1

1
a
2
b
3.3

<br>Use `+` to concatenate lists.

In [23]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>Use `*` to repeat lists.

In [26]:
[1]*5

[1, 1, 1, 1, 1]

<br> Use the `in` operatorm to check if something is inside a list.

In [29]:
1 in [1, 2, 3]

True

<br> Now let's look at strings. Use bracket notation to slice a string.

In [52]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters
print(x[:-2]) #first Except last two characters
print(x[-2:]) #first last two characters
print(x[-6:-1])

T
T
Th
This is a stri
ng
strin

<br>
This will return the last element of the string.

In [53]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [62]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [63]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 4th element of the string and going all the way to the end.

In [66]:
x[3:]

's is a string'

In [67]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [70]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ') # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ') # [-1] selects the last element of the list
print(firstname)
print(lastname)

['Christopher', 'Arthur', 'Hansen', 'Brooks']
['Christopher', 'Arthur', 'Hansen', 'Brooks']

<br>
Make sure you convert objects to strings before concatenating.

In [71]:
'Chris' + 2

TypeError: can only concatenate str (not "int") to str

In [72]:
'Chris' + str(2)

'Chris2'

<br>Dictionaries associate keys with values.